openapi: 3.0.3
info:
  title: Dart OpenAPI Service
  description: Dart OpenAPI Service
  version: 1.0.0
servers:
  - url: 'https://opendart.fss.or.kr/api'
    description: OpenDart API Service
tags:
  - name: Disclosure
    description: 공시정보

paths:
  /list.json:
    get:
      operationId: listDisclosureInfo
      summary: List of Disclosure Information
      description: |
        # 공시검색
        공시 유형별, 회사별, 날짜별 등 여러가지 조건으로 공시보고서 검색기능을 제공합니다.
      tags:
        - Disclosure
      parameters:
        - name: corp_code
          in: query
          description: 공시대상회사의 고유번호(8자리)
          schema:
            type: string
            minLength: 8
            maxLength: 8
        - name: bgn_de
          in: query
          description: |
            시작일 
            
            검색시작 접수일자(YYYYMMDD)
            1) 기본값 : 종료일(end_de)
            2) 고유번호(corp_code)가 없는 경우 검색기간은 3개월로 제한
          schema:
            type: string
            pattern: '^\d{8}$'
        - name: end_de
          in: query
          description: |
            검색종료 접수일자(YYYYMMDD)
            1) 기본값 : 당일
          schema:
            type: string
            pattern: '^\d{8}$'
        - name: last_reprt_at
          in: query
          description: |
            최종보고서만 검색여부(Y or N)
            1) 기본값 : N(정정이 있는 경우 최종정정만 검색)
          schema:
            type: string
            enum: [ Y, N ]
        - name: pblntf_ty
          in: query
          description: |
            공시유형
            
            A : 정기공시
            B: 주요사항보고
            C: 발행공시
            D: 지분공시
            E: 기타공시
            F: 외부감사관련
            G: 펀드공시
            H: 자산유동화
            I: 거래소공시
            J: 공정위공시
          schema:
            type: string
            enum: [ A, B, C, D, E, F, G, H, I, J ]
        - name: pblntf_detail_ty
          in: query
          description: 공시상세유형
          schema:
            type: string
            minLength: 8
            maxLength: 8
        - name: corp_cls
          in: query
          description: |
            법인구분
            Y : 유가증권시장
            K: 코스닥
            N: 코넥스
            E: 기타
          schema:
            type: string
            enum: [ Y, K, N, E ]
        - name: sort
          in: query
          description: |
            정렬
            접수일자: date
            회사명 : crp
            보고서명 : rpt
            ※ 기본값 : date
          schema:
            type: string
            enum: [ date, crp, rpt ]
        - name: sort_mth
          in: query
          description: |
            정렬방식
            오름차순(asc), 내림차순(desc)
            ※ 기본값 : desc
          schema:
            type: string
            enum: [ asc, desc ]
        - name: page_no
          in: query
          description: |
            페이지 번호
            페이지 번호(1~n) 기본값 : 1
          schema:
            type: string
            pattern: '^\d{5}$'
        - name: page_count
          in: query
          description: |
            페이지 별 건수
            페이지당 건수(1~100) 기본값 : 10, 최대값 : 100
          schema:
            type: string
            pattern: '^\d{3}$'
      responses:
        200:
          description: Response OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: |
                      에러 정보 코드
                      
                      - 000 :정상
                      - 010 :등록되지 않은 키입니다.
                      - 011 :사용할 수 없는 키입니다. 오픈API에 등록되었으나, 일시적으로 사용 중지된 키를 통하여 검색하는 경우 발생합니다.
                      - 012 :접근할 수 없는 IP입니다.
                      - 013 :조회된 데이타가 없습니다.
                      - 014 :파일이 존재하지 않습니다.
                      - 020 :요청 제한을 초과하였습니다.
                            일반적으로는 20,000건 이상의 요청에 대하여 이 에러 메시지가 발생되나, 요청 제한이 다르게 설정된 경우에는 이에 준하여 발생됩니다.
                      - 021 :조회 가능한 회사 개수가 초과하였습니다.(최대 100건)
                      - 100 :필드의 부적절한 값입니다. 필드 설명에 없는 값을 사용한 경우에 발생하는 메시지입니다.
                      - 101 :부적절한 접근입니다.
                      - 800 :시스템 점검으로 인한 서비스가 중지 중입니다.
                      - 900 :정의되지 않은 오류가 발생하였습니다.
                      - 901 :사용자 계정의 개인정보 보유기간이 만료되어 사용할 수 없는 키입니다. 관리자 이메일(opendart@fss.or.kr)로 문의하시기 바랍니다.
                  message:
                    type: string
                    description: 에러 정보 메시지
                  page_no:
                    type: integer
                    description: 페이지 번호
                  page_count:
                    type: integer
                    description: 페이지 별 건수
                  total_count:
                    type: integer
                    description: 총 건수
                  total_page:
                    type: integer
                    description: 총 페이지 수
                  list:
                    type: object
                    properties:
                      corp_cls:
                        type: string
                        description: 법인구분. Y(유가), K(코스닥), N(코넥스), E(기타)
                      corp_name:
                        type: string
                        description: 공시대상회사의 종목명(상장사) 또는 법인명(기타법인)
                      corp_code:
                        type: string
                        pattern: '^\d{8}$'
                        description: 공시대상회사의 고유번호(8자리)
                      stock_code:
                        type: string
                        pattern: '^\d{6}$'
                        description: 공시대상회사의 종목코드(6자리)
                      report_nm:
                        type: string
                        description: |
                          보고서명
                          
                          공시구분+보고서명+기타정보
                          [기재정정] : 본 보고서명으로 이미 제출된 보고서의 기재내용이 변경되어 제출된 것임
                          [첨부정정] : 본 보고서명으로 이미 제출된 보고서의 첨부내용이 변경되어 제출된 것임
                          [첨부추가] : 본 보고서명으로 이미 제출된 보고서의 첨부서류가 추가되어 제출된 것임
                          [변경등록] : 본 보고서명으로 이미 제출된 보고서의 유동화계획이 변경되어 제출된 것임
                          [연장결정] : 본 보고서명으로 이미 제출된 보고서의 신탁계약이 연장되어 제출된 것임
                          [발행조건확정] : 본 보고서명으로 이미 제출된 보고서의 유가증권 발행조건이 확정되어 제출된 것임
                          [정정명령부과] : 본 보고서에 대하여 금융감독원이 정정명령을 부과한 것임
                          [정정제출요구] : 본 보고서에 대하여 금융감독원이 정정제출요구을 부과한 것임
                      rcept_no:
                        type: string
                        pattern: '^\d{14}$'
                        description: 접수번호(14자리)
                      flr_nm:
                        type: string
                        description: 공시 제출인명
                      rcept_dt:
                        type: string
                        pattern: '^\d{8}$'
                        description: 접수일자(YYYYMMDD)
                      rm:
                        type: string
                        description: |
                          비고
                          
                          조합된 문자로 각각은 아래와 같은 의미가 있음
                          유 : 본 공시사항은 한국거래소 유가증권시장본부 소관임
                          코 : 본 공시사항은 한국거래소 코스닥시장본부 소관임
                          채 : 본 문서는 한국거래소 채권상장법인 공시사항임
                          넥 : 본 문서는 한국거래소 코넥스시장 소관임
                          공 : 본 공시사항은 공정거래위원회 소관임
                          연 : 본 보고서는 연결부분을 포함한 것임
                          정 : 본 보고서 제출 후 정정신고가 있으니 관련 보고서를 참조하시기 바람
                          철 : 본 보고서는 철회(간주)되었으니 관련 철회신고서(철회간주안내)를 참고하시기 바람
