# pylint: disable=too-many-lines,too-many-statements
# coding=utf-8
# --------------------------------------------------------------------------
# Code generated by Microsoft (R) AutoRest Code Generator (autorest: 3.10.2, generator: @autorest/python@6.13.15)
# Changes may cause incorrect behavior and will be lost if the code is regenerated.
# --------------------------------------------------------------------------
from io import IOBase
import sys
from typing import (
    IO,
    Any,
    Callable,
    Dict,
    Optional,
    Type,
    TypeVar,
    Union,
    cast,
    overload,
)

from azure.core.exceptions import ClientAuthenticationError
from azure.core.exceptions import HttpResponseError
from azure.core.exceptions import ResourceExistsError
from azure.core.exceptions import ResourceNotFoundError
from azure.core.exceptions import ResourceNotModifiedError
from azure.core.exceptions import map_error
from azure.core.pipeline import PipelineResponse
from azure.core.rest import HttpRequest
from azure.core.rest import HttpResponse
from azure.core.tracing.decorator import distributed_trace
from azure.core.utils import case_insensitive_dict

from .._serialization import Serializer
from .._vendor import GenOpenKisClientMixinABC

if sys.version_info >= (3, 9):
    from collections.abc import MutableMapping
else:
    from typing import (
        MutableMapping,  # type: ignore  # pylint: disable=ungrouped-imports
    )
JSON = MutableMapping[str, Any]  # pylint: disable=unsubscriptable-object
T = TypeVar("T")
ClsType = Optional[
    Callable[[PipelineResponse[HttpRequest, HttpResponse], T, Dict[str, Any]], Any]
]

_SERIALIZER = Serializer()
_SERIALIZER.client_side_validation = False


def build_gen_open_kis_get_access_token_request(
    **kwargs: Any,
) -> HttpRequest:  # pylint: disable=name-too-long
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})

    content_type: Optional[str] = kwargs.pop(
        "content_type", _headers.pop("Content-Type", None)
    )
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/oauth2/tokenP"

    # Construct headers
    if content_type is not None:
        _headers["Content-Type"] = _SERIALIZER.header(
            "content_type", content_type, "str"
        )
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="POST", url=_url, headers=_headers, **kwargs)


def build_gen_open_kis_revoke_access_token_request(
    **kwargs: Any,
) -> HttpRequest:  # pylint: disable=name-too-long
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})

    content_type: Optional[str] = kwargs.pop(
        "content_type", _headers.pop("Content-Type", None)
    )
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/oauth2/revokeP"

    # Construct headers
    if content_type is not None:
        _headers["Content-Type"] = _SERIALIZER.header(
            "content_type", content_type, "str"
        )
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="POST", url=_url, headers=_headers, **kwargs)


def build_gen_open_kis_get_hash_key_request(
    *,
    appkey: Optional[str] = None,
    appsecret: Optional[str] = None,
    json: Optional[JSON] = None,
    **kwargs: Any,
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})

    content_type: Optional[str] = kwargs.pop(
        "content_type", _headers.pop("content-type", None)
    )
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/uapi/hashkey"

    # Construct headers
    if content_type is not None:
        _headers["content-type"] = _SERIALIZER.header(
            "content_type", content_type, "str"
        )
    if appkey is not None:
        _headers["appkey"] = _SERIALIZER.header("appkey", appkey, "str")
    if appsecret is not None:
        _headers["appsecret"] = _SERIALIZER.header("appsecret", appsecret, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="POST", url=_url, headers=_headers, json=json, **kwargs)


def build_gen_open_kis_get_domestic_stock_price_request(  # pylint: disable=name-too-long
    *,
    fid_input_iscd: str,
    personalseckey: Optional[str] = None,
    tr_cont: str = "",
    custtype: str = "P",
    seq_no: Optional[str] = None,
    mac_address: Optional[str] = None,
    phone_number: Optional[str] = None,
    ip_address: Optional[str] = None,
    hashkey: Optional[str] = None,
    gt_uid: Optional[str] = None,
    tr_id: str = "FHKST01010100",
    fid_cond_mrkt_div_code: str = "J",
    **kwargs: Any,
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/inquire-price"

    # Construct parameters
    _params["fid_input_iscd"] = _SERIALIZER.query(
        "fid_input_iscd", fid_input_iscd, "str"
    )
    _params["fid_cond_mrkt_div_code"] = _SERIALIZER.query(
        "fid_cond_mrkt_div_code", fid_cond_mrkt_div_code, "str"
    )

    # Construct headers
    if personalseckey is not None:
        _headers["personalseckey"] = _SERIALIZER.header(
            "personalseckey", personalseckey, "str"
        )
    if tr_cont is not None:
        _headers["tr_cont"] = _SERIALIZER.header("tr_cont", tr_cont, "str")
    if custtype is not None:
        _headers["custtype"] = _SERIALIZER.header("custtype", custtype, "str")
    if seq_no is not None:
        _headers["seq_no"] = _SERIALIZER.header("seq_no", seq_no, "str")
    if mac_address is not None:
        _headers["mac_address"] = _SERIALIZER.header("mac_address", mac_address, "str")
    if phone_number is not None:
        _headers["phone_number"] = _SERIALIZER.header(
            "phone_number", phone_number, "str"
        )
    if ip_address is not None:
        _headers["ip_address"] = _SERIALIZER.header("ip_address", ip_address, "str")
    if hashkey is not None:
        _headers["hashkey"] = _SERIALIZER.header("hashkey", hashkey, "str")
    if gt_uid is not None:
        _headers["gt_uid"] = _SERIALIZER.header("gt_uid", gt_uid, "str")
    _headers["tr_id"] = _SERIALIZER.header("tr_id", tr_id, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(
        method="GET", url=_url, params=_params, headers=_headers, **kwargs
    )


def build_gen_open_kis_get_domestic_stock_conclusion_request(  # pylint: disable=name-too-long
    *,
    fid_input_iscd: str,
    personalseckey: Optional[str] = None,
    tr_cont: str = "",
    custtype: str = "P",
    seq_no: Optional[str] = None,
    mac_address: Optional[str] = None,
    phone_number: Optional[str] = None,
    ip_address: Optional[str] = None,
    hashkey: Optional[str] = None,
    gt_uid: Optional[str] = None,
    tr_id: str = "FHKST01010300",
    fid_cond_mrkt_div_code: str = "J",
    **kwargs: Any,
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/inquire-ccnl"

    # Construct parameters
    _params["fid_input_iscd"] = _SERIALIZER.query(
        "fid_input_iscd", fid_input_iscd, "str"
    )
    _params["fid_cond_mrkt_div_code"] = _SERIALIZER.query(
        "fid_cond_mrkt_div_code", fid_cond_mrkt_div_code, "str"
    )

    # Construct headers
    if personalseckey is not None:
        _headers["personalseckey"] = _SERIALIZER.header(
            "personalseckey", personalseckey, "str"
        )
    if tr_cont is not None:
        _headers["tr_cont"] = _SERIALIZER.header("tr_cont", tr_cont, "str")
    if custtype is not None:
        _headers["custtype"] = _SERIALIZER.header("custtype", custtype, "str")
    if seq_no is not None:
        _headers["seq_no"] = _SERIALIZER.header("seq_no", seq_no, "str")
    if mac_address is not None:
        _headers["mac_address"] = _SERIALIZER.header("mac_address", mac_address, "str")
    if phone_number is not None:
        _headers["phone_number"] = _SERIALIZER.header(
            "phone_number", phone_number, "str"
        )
    if ip_address is not None:
        _headers["ip_address"] = _SERIALIZER.header("ip_address", ip_address, "str")
    if hashkey is not None:
        _headers["hashkey"] = _SERIALIZER.header("hashkey", hashkey, "str")
    if gt_uid is not None:
        _headers["gt_uid"] = _SERIALIZER.header("gt_uid", gt_uid, "str")
    _headers["tr_id"] = _SERIALIZER.header("tr_id", tr_id, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(
        method="GET", url=_url, params=_params, headers=_headers, **kwargs
    )


def build_gen_open_kis_get_domestic_stock_daily_price_request(  # pylint: disable=name-too-long
    *,
    fid_org_adj_prc: str,
    fid_input_iscd: str,
    fid_period_div_code: str,
    personalseckey: Optional[str] = None,
    tr_cont: str = "",
    custtype: str = "P",
    seq_no: Optional[str] = None,
    mac_address: Optional[str] = None,
    phone_number: Optional[str] = None,
    ip_address: Optional[str] = None,
    hashkey: Optional[str] = None,
    gt_uid: Optional[str] = None,
    tr_id: str = "FHKST01010400",
    fid_cond_mrkt_div_code: str = "J",
    **kwargs: Any,
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/inquire-daily-price"

    # Construct parameters
    _params["fid_org_adj_prc"] = _SERIALIZER.query(
        "fid_org_adj_prc", fid_org_adj_prc, "str"
    )
    _params["fid_input_iscd"] = _SERIALIZER.query(
        "fid_input_iscd", fid_input_iscd, "str"
    )
    _params["fid_cond_mrkt_div_code"] = _SERIALIZER.query(
        "fid_cond_mrkt_div_code", fid_cond_mrkt_div_code, "str"
    )
    _params["fid_period_div_code"] = _SERIALIZER.query(
        "fid_period_div_code", fid_period_div_code, "str"
    )

    # Construct headers
    if personalseckey is not None:
        _headers["personalseckey"] = _SERIALIZER.header(
            "personalseckey", personalseckey, "str"
        )
    if tr_cont is not None:
        _headers["tr_cont"] = _SERIALIZER.header("tr_cont", tr_cont, "str")
    if custtype is not None:
        _headers["custtype"] = _SERIALIZER.header("custtype", custtype, "str")
    if seq_no is not None:
        _headers["seq_no"] = _SERIALIZER.header("seq_no", seq_no, "str")
    if mac_address is not None:
        _headers["mac_address"] = _SERIALIZER.header("mac_address", mac_address, "str")
    if phone_number is not None:
        _headers["phone_number"] = _SERIALIZER.header(
            "phone_number", phone_number, "str"
        )
    if ip_address is not None:
        _headers["ip_address"] = _SERIALIZER.header("ip_address", ip_address, "str")
    if hashkey is not None:
        _headers["hashkey"] = _SERIALIZER.header("hashkey", hashkey, "str")
    if gt_uid is not None:
        _headers["gt_uid"] = _SERIALIZER.header("gt_uid", gt_uid, "str")
    _headers["tr_id"] = _SERIALIZER.header("tr_id", tr_id, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(
        method="GET", url=_url, params=_params, headers=_headers, **kwargs
    )


def build_gen_open_kis_get_domestic_stock_quote_and_expected_conclusion_request(  # pylint: disable=name-too-long
    *,
    fid_input_iscd: str,
    personalseckey: Optional[str] = None,
    tr_cont: str = "",
    custtype: str = "P",
    seq_no: Optional[str] = None,
    mac_address: Optional[str] = None,
    phone_number: Optional[str] = None,
    ip_address: Optional[str] = None,
    hashkey: Optional[str] = None,
    gt_uid: Optional[str] = None,
    tr_id: str = "FHKST01010200",
    fid_cond_mrkt_div_code: str = "J",
    **kwargs: Any,
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/inquire-asking-price-exp-ccn"

    # Construct parameters
    _params["fid_input_iscd"] = _SERIALIZER.query(
        "fid_input_iscd", fid_input_iscd, "str"
    )
    _params["fid_cond_mrkt_div_code"] = _SERIALIZER.query(
        "fid_cond_mrkt_div_code", fid_cond_mrkt_div_code, "str"
    )

    # Construct headers
    if personalseckey is not None:
        _headers["personalseckey"] = _SERIALIZER.header(
            "personalseckey", personalseckey, "str"
        )
    if tr_cont is not None:
        _headers["tr_cont"] = _SERIALIZER.header("tr_cont", tr_cont, "str")
    if custtype is not None:
        _headers["custtype"] = _SERIALIZER.header("custtype", custtype, "str")
    if seq_no is not None:
        _headers["seq_no"] = _SERIALIZER.header("seq_no", seq_no, "str")
    if mac_address is not None:
        _headers["mac_address"] = _SERIALIZER.header("mac_address", mac_address, "str")
    if phone_number is not None:
        _headers["phone_number"] = _SERIALIZER.header(
            "phone_number", phone_number, "str"
        )
    if ip_address is not None:
        _headers["ip_address"] = _SERIALIZER.header("ip_address", ip_address, "str")
    if hashkey is not None:
        _headers["hashkey"] = _SERIALIZER.header("hashkey", hashkey, "str")
    if gt_uid is not None:
        _headers["gt_uid"] = _SERIALIZER.header("gt_uid", gt_uid, "str")
    _headers["tr_id"] = _SERIALIZER.header("tr_id", tr_id, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(
        method="GET", url=_url, params=_params, headers=_headers, **kwargs
    )


def build_gen_open_kis_get_domestic_stock_investor_request(  # pylint: disable=name-too-long
    *,
    fid_input_iscd: str,
    personalseckey: Optional[str] = None,
    tr_cont: str = "",
    custtype: str = "P",
    seq_no: Optional[str] = None,
    mac_address: Optional[str] = None,
    phone_number: Optional[str] = None,
    ip_address: Optional[str] = None,
    hashkey: Optional[str] = None,
    gt_uid: Optional[str] = None,
    tr_id: str = "FHKST01010900",
    fid_cond_mrkt_div_code: str = "J",
    **kwargs: Any,
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/inquire-investor"

    # Construct parameters
    _params["fid_input_iscd"] = _SERIALIZER.query(
        "fid_input_iscd", fid_input_iscd, "str"
    )
    _params["fid_cond_mrkt_div_code"] = _SERIALIZER.query(
        "fid_cond_mrkt_div_code", fid_cond_mrkt_div_code, "str"
    )

    # Construct headers
    if personalseckey is not None:
        _headers["personalseckey"] = _SERIALIZER.header(
            "personalseckey", personalseckey, "str"
        )
    if tr_cont is not None:
        _headers["tr_cont"] = _SERIALIZER.header("tr_cont", tr_cont, "str")
    if custtype is not None:
        _headers["custtype"] = _SERIALIZER.header("custtype", custtype, "str")
    if seq_no is not None:
        _headers["seq_no"] = _SERIALIZER.header("seq_no", seq_no, "str")
    if mac_address is not None:
        _headers["mac_address"] = _SERIALIZER.header("mac_address", mac_address, "str")
    if phone_number is not None:
        _headers["phone_number"] = _SERIALIZER.header(
            "phone_number", phone_number, "str"
        )
    if ip_address is not None:
        _headers["ip_address"] = _SERIALIZER.header("ip_address", ip_address, "str")
    if hashkey is not None:
        _headers["hashkey"] = _SERIALIZER.header("hashkey", hashkey, "str")
    if gt_uid is not None:
        _headers["gt_uid"] = _SERIALIZER.header("gt_uid", gt_uid, "str")
    _headers["tr_id"] = _SERIALIZER.header("tr_id", tr_id, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(
        method="GET", url=_url, params=_params, headers=_headers, **kwargs
    )


def build_gen_open_kis_get_domestic_stock_member_request(  # pylint: disable=name-too-long
    *,
    fid_input_iscd: str,
    personalseckey: Optional[str] = None,
    tr_cont: str = "",
    custtype: str = "P",
    seq_no: Optional[str] = None,
    mac_address: Optional[str] = None,
    phone_number: Optional[str] = None,
    ip_address: Optional[str] = None,
    hashkey: Optional[str] = None,
    gt_uid: Optional[str] = None,
    tr_id: str = "FHKST01010600",
    fid_cond_mrkt_div_code: str = "J",
    **kwargs: Any,
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/inquire-member"

    # Construct parameters
    _params["fid_input_iscd"] = _SERIALIZER.query(
        "fid_input_iscd", fid_input_iscd, "str"
    )
    _params["fid_cond_mrkt_div_code"] = _SERIALIZER.query(
        "fid_cond_mrkt_div_code", fid_cond_mrkt_div_code, "str"
    )

    # Construct headers
    if personalseckey is not None:
        _headers["personalseckey"] = _SERIALIZER.header(
            "personalseckey", personalseckey, "str"
        )
    if tr_cont is not None:
        _headers["tr_cont"] = _SERIALIZER.header("tr_cont", tr_cont, "str")
    if custtype is not None:
        _headers["custtype"] = _SERIALIZER.header("custtype", custtype, "str")
    if seq_no is not None:
        _headers["seq_no"] = _SERIALIZER.header("seq_no", seq_no, "str")
    if mac_address is not None:
        _headers["mac_address"] = _SERIALIZER.header("mac_address", mac_address, "str")
    if phone_number is not None:
        _headers["phone_number"] = _SERIALIZER.header(
            "phone_number", phone_number, "str"
        )
    if ip_address is not None:
        _headers["ip_address"] = _SERIALIZER.header("ip_address", ip_address, "str")
    if hashkey is not None:
        _headers["hashkey"] = _SERIALIZER.header("hashkey", hashkey, "str")
    if gt_uid is not None:
        _headers["gt_uid"] = _SERIALIZER.header("gt_uid", gt_uid, "str")
    _headers["tr_id"] = _SERIALIZER.header("tr_id", tr_id, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(
        method="GET", url=_url, params=_params, headers=_headers, **kwargs
    )


def build_gen_open_kis_get_domestic_stock_period_price_request(  # pylint: disable=name-too-long
    *,
    fid_org_adj_prc: str,
    fid_input_iscd: str,
    fid_input_date1: str,
    fid_input_date2: str,
    fid_period_div_code: str,
    custtype: str = "P",
    tr_id: str = "FHKST03010100",
    fid_cond_mrkt_div_code: str = "J",
    **kwargs: Any,
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/inquire-daily-itemchartprice"

    # Construct parameters
    _params["fid_org_adj_prc"] = _SERIALIZER.query(
        "fid_org_adj_prc", fid_org_adj_prc, "str"
    )
    _params["fid_input_iscd"] = _SERIALIZER.query(
        "fid_input_iscd", fid_input_iscd, "str"
    )
    _params["fid_input_date_1"] = _SERIALIZER.query(
        "fid_input_date1", fid_input_date1, "str", max_length=10
    )
    _params["fid_input_date_2"] = _SERIALIZER.query(
        "fid_input_date2", fid_input_date2, "str", max_length=10
    )
    _params["fid_period_div_code"] = _SERIALIZER.query(
        "fid_period_div_code", fid_period_div_code, "str"
    )
    _params["fid_cond_mrkt_div_code"] = _SERIALIZER.query(
        "fid_cond_mrkt_div_code", fid_cond_mrkt_div_code, "str"
    )

    # Construct headers
    if custtype is not None:
        _headers["custtype"] = _SERIALIZER.header("custtype", custtype, "str")
    _headers["tr_id"] = _SERIALIZER.header("tr_id", tr_id, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(
        method="GET", url=_url, params=_params, headers=_headers, **kwargs
    )


def build_gen_open_kis_get_domestic_stock_time_conclusion_request(  # pylint: disable=name-too-long
    *,
    fid_input_iscd: str,
    fid_input_hour1: str,
    personalseckey: Optional[str] = None,
    tr_cont: str = "",
    custtype: str = "P",
    seq_no: Optional[str] = None,
    mac_address: Optional[str] = None,
    phone_number: Optional[str] = None,
    ip_address: Optional[str] = None,
    hashkey: Optional[str] = None,
    gt_uid: Optional[str] = None,
    tr_id: str = "FHPST01060000",
    fid_cond_mrkt_div_code: str = "J",
    **kwargs: Any,
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/inquire-time-itemconclusion"

    # Construct parameters
    _params["fid_input_iscd"] = _SERIALIZER.query(
        "fid_input_iscd", fid_input_iscd, "str"
    )
    _params["fid_cond_mrkt_div_code"] = _SERIALIZER.query(
        "fid_cond_mrkt_div_code", fid_cond_mrkt_div_code, "str"
    )
    _params["fid_input_hour_1"] = _SERIALIZER.query(
        "fid_input_hour1", fid_input_hour1, "str", max_length=10
    )

    # Construct headers
    if personalseckey is not None:
        _headers["personalseckey"] = _SERIALIZER.header(
            "personalseckey", personalseckey, "str"
        )
    if tr_cont is not None:
        _headers["tr_cont"] = _SERIALIZER.header("tr_cont", tr_cont, "str")
    if custtype is not None:
        _headers["custtype"] = _SERIALIZER.header("custtype", custtype, "str")
    if seq_no is not None:
        _headers["seq_no"] = _SERIALIZER.header("seq_no", seq_no, "str")
    if mac_address is not None:
        _headers["mac_address"] = _SERIALIZER.header("mac_address", mac_address, "str")
    if phone_number is not None:
        _headers["phone_number"] = _SERIALIZER.header(
            "phone_number", phone_number, "str"
        )
    if ip_address is not None:
        _headers["ip_address"] = _SERIALIZER.header("ip_address", ip_address, "str")
    if hashkey is not None:
        _headers["hashkey"] = _SERIALIZER.header("hashkey", hashkey, "str")
    if gt_uid is not None:
        _headers["gt_uid"] = _SERIALIZER.header("gt_uid", gt_uid, "str")
    _headers["tr_id"] = _SERIALIZER.header("tr_id", tr_id, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(
        method="GET", url=_url, params=_params, headers=_headers, **kwargs
    )


def build_gen_open_kis_get_domestic_stock_over_time_conclusion_request(  # pylint: disable=name-too-long
    *,
    fid_input_iscd: str,
    personalseckey: Optional[str] = None,
    tr_cont: str = "",
    custtype: str = "P",
    seq_no: Optional[str] = None,
    mac_address: Optional[str] = None,
    phone_number: Optional[str] = None,
    ip_address: Optional[str] = None,
    hashkey: Optional[str] = None,
    gt_uid: Optional[str] = None,
    tr_id: str = "FHPST02310000",
    fid_cond_mrkt_div_code: str = "J",
    fid_hour_cls_code: str = "1",
    **kwargs: Any,
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/inquire-time-overtimeconclusion"

    # Construct parameters
    _params["fid_input_iscd"] = _SERIALIZER.query(
        "fid_input_iscd", fid_input_iscd, "str"
    )
    _params["fid_cond_mrkt_div_code"] = _SERIALIZER.query(
        "fid_cond_mrkt_div_code", fid_cond_mrkt_div_code, "str"
    )
    _params["fid_hour_cls_code"] = _SERIALIZER.query(
        "fid_hour_cls_code", fid_hour_cls_code, "str"
    )

    # Construct headers
    if personalseckey is not None:
        _headers["personalseckey"] = _SERIALIZER.header(
            "personalseckey", personalseckey, "str"
        )
    if tr_cont is not None:
        _headers["tr_cont"] = _SERIALIZER.header("tr_cont", tr_cont, "str")
    if custtype is not None:
        _headers["custtype"] = _SERIALIZER.header("custtype", custtype, "str")
    if seq_no is not None:
        _headers["seq_no"] = _SERIALIZER.header("seq_no", seq_no, "str")
    if mac_address is not None:
        _headers["mac_address"] = _SERIALIZER.header("mac_address", mac_address, "str")
    if phone_number is not None:
        _headers["phone_number"] = _SERIALIZER.header(
            "phone_number", phone_number, "str"
        )
    if ip_address is not None:
        _headers["ip_address"] = _SERIALIZER.header("ip_address", ip_address, "str")
    if hashkey is not None:
        _headers["hashkey"] = _SERIALIZER.header("hashkey", hashkey, "str")
    if gt_uid is not None:
        _headers["gt_uid"] = _SERIALIZER.header("gt_uid", gt_uid, "str")
    _headers["tr_id"] = _SERIALIZER.header("tr_id", tr_id, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(
        method="GET", url=_url, params=_params, headers=_headers, **kwargs
    )


def build_gen_open_kis_get_domestic_stock_over_time_daily_price_request(  # pylint: disable=name-too-long
    *,
    fid_input_iscd: str,
    personalseckey: Optional[str] = None,
    tr_cont: str = "",
    custtype: str = "P",
    seq_no: Optional[str] = None,
    mac_address: Optional[str] = None,
    phone_number: Optional[str] = None,
    ip_address: Optional[str] = None,
    hashkey: Optional[str] = None,
    gt_uid: Optional[str] = None,
    tr_id: str = "FHPST02320000",
    fid_cond_mrkt_div_code: str = "J",
    **kwargs: Any,
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/inquire-daily-overtimeprice"

    # Construct parameters
    _params["fid_input_iscd"] = _SERIALIZER.query(
        "fid_input_iscd", fid_input_iscd, "str"
    )
    _params["fid_cond_mrkt_div_code"] = _SERIALIZER.query(
        "fid_cond_mrkt_div_code", fid_cond_mrkt_div_code, "str"
    )

    # Construct headers
    if personalseckey is not None:
        _headers["personalseckey"] = _SERIALIZER.header(
            "personalseckey", personalseckey, "str"
        )
    if tr_cont is not None:
        _headers["tr_cont"] = _SERIALIZER.header("tr_cont", tr_cont, "str")
    if custtype is not None:
        _headers["custtype"] = _SERIALIZER.header("custtype", custtype, "str")
    if seq_no is not None:
        _headers["seq_no"] = _SERIALIZER.header("seq_no", seq_no, "str")
    if mac_address is not None:
        _headers["mac_address"] = _SERIALIZER.header("mac_address", mac_address, "str")
    if phone_number is not None:
        _headers["phone_number"] = _SERIALIZER.header(
            "phone_number", phone_number, "str"
        )
    if ip_address is not None:
        _headers["ip_address"] = _SERIALIZER.header("ip_address", ip_address, "str")
    if hashkey is not None:
        _headers["hashkey"] = _SERIALIZER.header("hashkey", hashkey, "str")
    if gt_uid is not None:
        _headers["gt_uid"] = _SERIALIZER.header("gt_uid", gt_uid, "str")
    _headers["tr_id"] = _SERIALIZER.header("tr_id", tr_id, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(
        method="GET", url=_url, params=_params, headers=_headers, **kwargs
    )


def build_gen_open_kis_get_domestic_stock_over_time_price_request(  # pylint: disable=name-too-long
    *,
    fid_input_iscd: str,
    personalseckey: Optional[str] = None,
    tr_cont: str = "",
    custtype: str = "P",
    seq_no: Optional[str] = None,
    mac_address: Optional[str] = None,
    phone_number: Optional[str] = None,
    ip_address: Optional[str] = None,
    hashkey: Optional[str] = None,
    gt_uid: Optional[str] = None,
    tr_id: str = "FHPST02300000",
    fid_cond_mrkt_div_code: str = "J",
    **kwargs: Any,
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/inquire-overtime-price"

    # Construct parameters
    _params["fid_input_iscd"] = _SERIALIZER.query(
        "fid_input_iscd", fid_input_iscd, "str"
    )
    _params["fid_cond_mrkt_div_code"] = _SERIALIZER.query(
        "fid_cond_mrkt_div_code", fid_cond_mrkt_div_code, "str"
    )

    # Construct headers
    if personalseckey is not None:
        _headers["personalseckey"] = _SERIALIZER.header(
            "personalseckey", personalseckey, "str"
        )
    if tr_cont is not None:
        _headers["tr_cont"] = _SERIALIZER.header("tr_cont", tr_cont, "str")
    if custtype is not None:
        _headers["custtype"] = _SERIALIZER.header("custtype", custtype, "str")
    if seq_no is not None:
        _headers["seq_no"] = _SERIALIZER.header("seq_no", seq_no, "str")
    if mac_address is not None:
        _headers["mac_address"] = _SERIALIZER.header("mac_address", mac_address, "str")
    if phone_number is not None:
        _headers["phone_number"] = _SERIALIZER.header(
            "phone_number", phone_number, "str"
        )
    if ip_address is not None:
        _headers["ip_address"] = _SERIALIZER.header("ip_address", ip_address, "str")
    if hashkey is not None:
        _headers["hashkey"] = _SERIALIZER.header("hashkey", hashkey, "str")
    if gt_uid is not None:
        _headers["gt_uid"] = _SERIALIZER.header("gt_uid", gt_uid, "str")
    _headers["tr_id"] = _SERIALIZER.header("tr_id", tr_id, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(
        method="GET", url=_url, params=_params, headers=_headers, **kwargs
    )


def build_gen_open_kis_get_domestic_stock_over_time_quote_request(  # pylint: disable=name-too-long
    *,
    fid_input_iscd: str,
    personalseckey: Optional[str] = None,
    tr_cont: str = "",
    custtype: str = "P",
    seq_no: Optional[str] = None,
    mac_address: Optional[str] = None,
    phone_number: Optional[str] = None,
    ip_address: Optional[str] = None,
    hashkey: Optional[str] = None,
    gt_uid: Optional[str] = None,
    tr_id: str = "FHPST02300400",
    fid_cond_mrkt_div_code: str = "J",
    **kwargs: Any,
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/inquire-overtime-asking-price"

    # Construct parameters
    _params["fid_input_iscd"] = _SERIALIZER.query(
        "fid_input_iscd", fid_input_iscd, "str"
    )
    _params["fid_cond_mrkt_div_code"] = _SERIALIZER.query(
        "fid_cond_mrkt_div_code", fid_cond_mrkt_div_code, "str"
    )

    # Construct headers
    if personalseckey is not None:
        _headers["personalseckey"] = _SERIALIZER.header(
            "personalseckey", personalseckey, "str"
        )
    if tr_cont is not None:
        _headers["tr_cont"] = _SERIALIZER.header("tr_cont", tr_cont, "str")
    if custtype is not None:
        _headers["custtype"] = _SERIALIZER.header("custtype", custtype, "str")
    if seq_no is not None:
        _headers["seq_no"] = _SERIALIZER.header("seq_no", seq_no, "str")
    if mac_address is not None:
        _headers["mac_address"] = _SERIALIZER.header("mac_address", mac_address, "str")
    if phone_number is not None:
        _headers["phone_number"] = _SERIALIZER.header(
            "phone_number", phone_number, "str"
        )
    if ip_address is not None:
        _headers["ip_address"] = _SERIALIZER.header("ip_address", ip_address, "str")
    if hashkey is not None:
        _headers["hashkey"] = _SERIALIZER.header("hashkey", hashkey, "str")
    if gt_uid is not None:
        _headers["gt_uid"] = _SERIALIZER.header("gt_uid", gt_uid, "str")
    _headers["tr_id"] = _SERIALIZER.header("tr_id", tr_id, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(
        method="GET", url=_url, params=_params, headers=_headers, **kwargs
    )


def build_gen_open_kis_get_domestic_stock_time_minute_price_request(  # pylint: disable=name-too-long
    *,
    fid_input_iscd: str,
    fid_etc_cls_code: str = "",
    fid_input_hour1: str,
    personalseckey: Optional[str] = None,
    tr_cont: str = "",
    custtype: str = "P",
    seq_no: Optional[str] = None,
    mac_address: Optional[str] = None,
    phone_number: Optional[str] = None,
    ip_address: Optional[str] = None,
    hashkey: Optional[str] = None,
    gt_uid: Optional[str] = None,
    tr_id: str = "FHKST03010200",
    fid_cond_mrkt_div_code: str = "J",
    fid_pw_data_incu_yn: str = "N",
    **kwargs: Any,
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/inquire-time-itemchartprice"

    # Construct parameters
    _params["fid_input_iscd"] = _SERIALIZER.query(
        "fid_input_iscd", fid_input_iscd, "str"
    )
    _params["fid_cond_mrkt_div_code"] = _SERIALIZER.query(
        "fid_cond_mrkt_div_code", fid_cond_mrkt_div_code, "str"
    )
    _params["fid_etc_cls_code"] = _SERIALIZER.query(
        "fid_etc_cls_code", fid_etc_cls_code, "str"
    )
    _params["fid_input_hour_1"] = _SERIALIZER.query(
        "fid_input_hour1", fid_input_hour1, "str", max_length=6
    )
    _params["fid_pw_data_incu_yn"] = _SERIALIZER.query(
        "fid_pw_data_incu_yn", fid_pw_data_incu_yn, "str"
    )

    # Construct headers
    if personalseckey is not None:
        _headers["personalseckey"] = _SERIALIZER.header(
            "personalseckey", personalseckey, "str"
        )
    if tr_cont is not None:
        _headers["tr_cont"] = _SERIALIZER.header("tr_cont", tr_cont, "str")
    if custtype is not None:
        _headers["custtype"] = _SERIALIZER.header("custtype", custtype, "str")
    if seq_no is not None:
        _headers["seq_no"] = _SERIALIZER.header("seq_no", seq_no, "str")
    if mac_address is not None:
        _headers["mac_address"] = _SERIALIZER.header("mac_address", mac_address, "str")
    if phone_number is not None:
        _headers["phone_number"] = _SERIALIZER.header(
            "phone_number", phone_number, "str"
        )
    if ip_address is not None:
        _headers["ip_address"] = _SERIALIZER.header("ip_address", ip_address, "str")
    if hashkey is not None:
        _headers["hashkey"] = _SERIALIZER.header("hashkey", hashkey, "str")
    if gt_uid is not None:
        _headers["gt_uid"] = _SERIALIZER.header("gt_uid", gt_uid, "str")
    _headers["tr_id"] = _SERIALIZER.header("tr_id", tr_id, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(
        method="GET", url=_url, params=_params, headers=_headers, **kwargs
    )


def build_gen_open_kis_get_domestic_stock_price2_request(  # pylint: disable=name-too-long
    *,
    fid_input_iscd: str,
    personalseckey: Optional[str] = None,
    tr_cont: str = "",
    custtype: str = "P",
    seq_no: Optional[str] = None,
    mac_address: Optional[str] = None,
    phone_number: Optional[str] = None,
    ip_address: Optional[str] = None,
    hashkey: Optional[str] = None,
    gt_uid: Optional[str] = None,
    tr_id: str = "FHPST01010000",
    fid_cond_mrkt_div_code: str = "J",
    **kwargs: Any,
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/inquire-price-2"

    # Construct parameters
    _params["fid_input_iscd"] = _SERIALIZER.query(
        "fid_input_iscd", fid_input_iscd, "str"
    )
    _params["fid_cond_mrkt_div_code"] = _SERIALIZER.query(
        "fid_cond_mrkt_div_code", fid_cond_mrkt_div_code, "str"
    )

    # Construct headers
    if personalseckey is not None:
        _headers["personalseckey"] = _SERIALIZER.header(
            "personalseckey", personalseckey, "str"
        )
    if tr_cont is not None:
        _headers["tr_cont"] = _SERIALIZER.header("tr_cont", tr_cont, "str")
    if custtype is not None:
        _headers["custtype"] = _SERIALIZER.header("custtype", custtype, "str")
    if seq_no is not None:
        _headers["seq_no"] = _SERIALIZER.header("seq_no", seq_no, "str")
    if mac_address is not None:
        _headers["mac_address"] = _SERIALIZER.header("mac_address", mac_address, "str")
    if phone_number is not None:
        _headers["phone_number"] = _SERIALIZER.header(
            "phone_number", phone_number, "str"
        )
    if ip_address is not None:
        _headers["ip_address"] = _SERIALIZER.header("ip_address", ip_address, "str")
    if hashkey is not None:
        _headers["hashkey"] = _SERIALIZER.header("hashkey", hashkey, "str")
    if gt_uid is not None:
        _headers["gt_uid"] = _SERIALIZER.header("gt_uid", gt_uid, "str")
    _headers["tr_id"] = _SERIALIZER.header("tr_id", tr_id, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(
        method="GET", url=_url, params=_params, headers=_headers, **kwargs
    )


def build_gen_open_kis_get_domestic_stock_closing_expected_conclusion_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/exp-closing-price"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_vi_status_request(**kwargs: Any) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/inquire-vi-status"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_financial_credit_by_company_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/credit-by-company"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_domestic_stock_invest_opinion_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/invest-opinion"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_check_domestic_holiday_request(
    **kwargs: Any,
) -> HttpRequest:  # pylint: disable=name-too-long
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/chk-holiday"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_search_product_info_request(
    **kwargs: Any,
) -> HttpRequest:  # pylint: disable=name-too-long
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/search-info"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_search_stock_info_request(
    **kwargs: Any,
) -> HttpRequest:  # pylint: disable=name-too-long
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/search-stock-info"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_domestic_stock_securities_opinion_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/invest-opbysec"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_etf_n_etn_price_request(
    **kwargs: Any,
) -> HttpRequest:  # pylint: disable=name-too-long
    # Construct URL
    _url = "/uapi/etfetn/v1/quotations/inquire-price"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_etf_n_etn_nav_comparison_trend_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/etfetn/v1/quotations/nav-comparison-trend"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_etf_n_etn_nav_minute_trend_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/etfetn/v1/quotations/nav-comparison-time-trend"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_etf_n_etn_nav_daily_trend_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/etfetn/v1/quotations/nav-comparison-daily-trend"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_etf_n_etn_component_stock_price_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/etfetn/v1/quotations/inquire-component-stock-price"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_index_chart_price_request(
    **kwargs: Any,
) -> HttpRequest:  # pylint: disable=name-too-long
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/inquire-daily-indexchartprice"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_index_minute_chart_price_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/inquire-time-indexchartprice"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_index_price_request(
    **kwargs: Any,
) -> HttpRequest:  # pylint: disable=name-too-long
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/inquire-index-price"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_index_daily_price_request(
    **kwargs: Any,
) -> HttpRequest:  # pylint: disable=name-too-long
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/inquire-index-daily-price"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_index_category_price_request(
    **kwargs: Any,
) -> HttpRequest:  # pylint: disable=name-too-long
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/inquire-index-category-price"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_index_total_exp_request(
    **kwargs: Any,
) -> HttpRequest:  # pylint: disable=name-too-long
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/exp-total-index"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_index_tick_price_request(
    **kwargs: Any,
) -> HttpRequest:  # pylint: disable=name-too-long
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/inquire-index-tickprice"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_index_minute_price_request(
    **kwargs: Any,
) -> HttpRequest:  # pylint: disable=name-too-long
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/inquire-index-timeprice"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_index_trend_exp_request(
    **kwargs: Any,
) -> HttpRequest:  # pylint: disable=name-too-long
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/exp-index-trend"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_domestic_interest_request(
    **kwargs: Any,
) -> HttpRequest:  # pylint: disable=name-too-long
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/comp-interest"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_news_title_request(
    **kwargs: Any,
) -> HttpRequest:  # pylint: disable=name-too-long
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/news-title"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_financial_balance_sheet_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/finance/balance-sheet"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_financial_income_statement_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/finance/income-statement"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_financial_ratio_request(
    **kwargs: Any,
) -> HttpRequest:  # pylint: disable=name-too-long
    # Construct URL
    _url = "/uapi/domestic-stock/v1/finance/financial-ratio"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_financial_profit_ratio_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/finance/profit-ratio"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_financial_other_major_ratio_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/finance/other-major-ratios"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_financial_stability_ratio_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/finance/stability-ratio"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_financial_growth_ratio_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/finance/growth-ratio"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_financial_estimate_perform_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/estimate-perform"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_ksd_dividend_info_request(
    **kwargs: Any,
) -> HttpRequest:  # pylint: disable=name-too-long
    # Construct URL
    _url = "/uapi/domestic-stock/v1/ksdinfo/dividend"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_ksd_purchase_request_request(
    **kwargs: Any,
) -> HttpRequest:  # pylint: disable=name-too-long
    # Construct URL
    _url = "/uapi/domestic-stock/v1/ksdinfo/purreq"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_ksd_merger_and_split_request(
    **kwargs: Any,
) -> HttpRequest:  # pylint: disable=name-too-long
    # Construct URL
    _url = "/uapi/domestic-stock/v1/ksdinfo/merger-split"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_ksd_change_par_value_request(
    **kwargs: Any,
) -> HttpRequest:  # pylint: disable=name-too-long
    # Construct URL
    _url = "/uapi/domestic-stock/v1/ksdinfo/rev-split"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_ksd_decrease_capital_request(
    **kwargs: Any,
) -> HttpRequest:  # pylint: disable=name-too-long
    # Construct URL
    _url = "/uapi/domestic-stock/v1/ksdinfo/cap-dcrs"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_ksd_list_info_request(
    **kwargs: Any,
) -> HttpRequest:  # pylint: disable=name-too-long
    # Construct URL
    _url = "/uapi/domestic-stock/v1/ksdinfo/list-info"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_ksd_public_offer_subscription_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/ksdinfo/pub-offer"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_ksd_forfeited_stock_request(
    **kwargs: Any,
) -> HttpRequest:  # pylint: disable=name-too-long
    # Construct URL
    _url = "/uapi/domestic-stock/v1/ksdinfo/forfeit"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_ksd_mandatory_deposit_request(
    **kwargs: Any,
) -> HttpRequest:  # pylint: disable=name-too-long
    # Construct URL
    _url = "/uapi/domestic-stock/v1/ksdinfo/mand-deposit"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_ksd_right_issue_request(
    **kwargs: Any,
) -> HttpRequest:  # pylint: disable=name-too-long
    # Construct URL
    _url = "/uapi/domestic-stock/v1/ksdinfo/paidin-capin"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_ksd_bonus_issue_request(
    **kwargs: Any,
) -> HttpRequest:  # pylint: disable=name-too-long
    # Construct URL
    _url = "/uapi/domestic-stock/v1/ksdinfo/bonus-issue"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_ksd_shareholder_meeting_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/ksdinfo/sharehld-meet"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_technical_foreign_institution_total_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/foreign-institution-total"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_technical_personal_search_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/psearch-title"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_technical_personal_search_detail_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/psearch-result"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_technical_program_trade_by_stock_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/program-trade-by-stock"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_technical_investor_trend_estimate_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/investor-trend-estimate"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_technical_trade_daily_volume_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/inquire-daily-trade-volume"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_technical_investor_trend_by_market_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/inquire-investor-time-by-market"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_technical_credit_balance_daily_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/daily-credit-balance"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_technical_expected_conclusion_trend_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/exp-price-trend"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_technical_short_sale_daily_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/daily-short-sale"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_technical_program_trade_daily_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/comp-program-trade-daily"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_technical_over_time_exp_fluctuation_rate_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/ranking/overtime-exp-trans-fluct"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_technical_program_trade_today_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/comp-program-trade-today"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_technical_foreign_trade_estimate_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/frgnmem-trade-estimate"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_technical_foreign_purchase_trend_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/frgnmem-pchs-trend"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_technical_trade_by_amount_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/tradprt-byamt"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_technical_market_fund_request(
    **kwargs: Any,
) -> HttpRequest:  # pylint: disable=name-too-long
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/mktfunds"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_technical_investor_trend_by_market_daily_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/inquire-investor-daily-by-market"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_technical_program_trade_by_stock_daily_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/program-trade-by-stock-daily"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_technical_program_trend_by_investor_today_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/investor-program-trade-today"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_technical_capture_up_low_price_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/capture-uplowprice"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_technical_volume_profile_indicator_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/pbar-tratio"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_technical_member_trend_daily_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/inquire-member-daily"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_ranking_volume_request(
    **kwargs: Any,
) -> HttpRequest:  # pylint: disable=name-too-long
    # Construct URL
    _url = "/uapi/domestic-stock/v1/quotations/volume-rank"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_ranking_fluctuation_rate_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/ranking/fluctuation"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_ranking_profit_asset_index_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/ranking/profit-asset-index"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_ranking_market_cap_request(
    **kwargs: Any,
) -> HttpRequest:  # pylint: disable=name-too-long
    # Construct URL
    _url = "/uapi/domestic-stock/v1/ranking/market-cap"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_ranking_financial_ratio_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/ranking/finance-ratio"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_ranking_after_hour_balance_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/ranking/after-hour-balance"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_ranking_prefer_disparate_ratio_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/ranking/prefer-disparate-ratio"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_ranking_quote_balance_request(
    **kwargs: Any,
) -> HttpRequest:  # pylint: disable=name-too-long
    # Construct URL
    _url = "/uapi/domestic-stock/v1/ranking/quote-balance"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_ranking_disparity_request(
    **kwargs: Any,
) -> HttpRequest:  # pylint: disable=name-too-long
    # Construct URL
    _url = "/uapi/domestic-stock/v1/ranking/disparity"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_ranking_market_value_request(
    **kwargs: Any,
) -> HttpRequest:  # pylint: disable=name-too-long
    # Construct URL
    _url = "/uapi/domestic-stock/v1/ranking/market-value"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_ranking_volume_power_request(
    **kwargs: Any,
) -> HttpRequest:  # pylint: disable=name-too-long
    # Construct URL
    _url = "/uapi/domestic-stock/v1/ranking/volume-power"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_ranking_top_interest_stock_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/ranking/top-interest-stock"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_ranking_expected_conclusion_up_down_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/ranking/exp-trans-updown"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_ranking_trade_by_company_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/ranking/traded-by-company"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_ranking_near_new_high_low_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/ranking/near-new-highlow"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_ranking_bulk_trans_num_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/ranking/bulk-trans-num"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_ranking_short_sale_request(
    **kwargs: Any,
) -> HttpRequest:  # pylint: disable=name-too-long
    # Construct URL
    _url = "/uapi/domestic-stock/v1/ranking/short-sale"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_ranking_credit_balance_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/ranking/credit-balance"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_ranking_dividend_rate_request(
    **kwargs: Any,
) -> HttpRequest:  # pylint: disable=name-too-long
    # Construct URL
    _url = "/uapi/domestic-stock/v1/ranking/dividend-rate"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_ranking_over_time_fluctuation_rate_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/ranking/overtime-fluctuation"

    return HttpRequest(method="GET", url=_url, **kwargs)


def build_gen_open_kis_get_ranking_over_time_volume_request(  # pylint: disable=name-too-long
    **kwargs: Any,
) -> HttpRequest:
    # Construct URL
    _url = "/uapi/domestic-stock/v1/ranking/overtime-volume"

    return HttpRequest(method="GET", url=_url, **kwargs)


class GenOpenKisClientOperationsMixin(
    GenOpenKisClientMixinABC
):  # pylint: disable=too-many-public-methods

    @overload
    def get_access_token(
        self,
        body: Optional[JSON] = None,
        *,
        content_type: str = "application/json",
        **kwargs: Any,
    ) -> JSON:
        # pylint: disable=line-too-long
        """접근 토큰 발급.

        본인 계좌에 필요한 인증 절차로, 인증을 통해 접근 토큰을 부여받아 오픈API 활용이 가능합니다.

        [참고]
        '23.4.28 이후 지나치게 잦은 토큰 발급 요청건을 제어 하기 위해 신규 접근토큰발급 이후 일정시간 이내에 재호출 시에는 직전 토큰값을 리턴하게 되었습니다. 일정시간
        이후 접근토큰발급 API 호출 시에는 신규 토큰값을 리턴합니다.
        접근토큰발급 API 호출 및 코드 작성하실 때 해당 사항을 참고하시길 바랍니다.

        :param body: Default value is None.
        :type body: JSON
        :keyword content_type: Body Parameter content-type. Content type parameter for JSON body.
         Default value is "application/json".
        :paramtype content_type: str
        :return: JSON object
        :rtype: JSON
        :raises ~azure.core.exceptions.HttpResponseError:

        Example:
            .. code-block:: python

                # JSON input template you can fill out and use as your body input.
                body = {
                    "appkey": "str",  # "ud55c"uad6d"ud22c"uc790"uc99d"uad8c
                      "ud648"ud398"uc774"uc9c0"uc5d0"uc11c "ubc1c"uae09"ubc1b"uc740 appkey
                      ("uc808"ub300 "ub178"ucd9c"ub418"uc9c0 "uc54a"ub3c4"ub85d
                      "uc8fc"uc758"ud574"uc8fc"uc138"uc694.). Required.
                    "appsecret": "str",  # "ud55c"uad6d"ud22c"uc790"uc99d"uad8c
                      "ud648"ud398"uc774"uc9c0"uc5d0"uc11c "ubc1c"uae09"ubc1b"uc740 appsecret
                      ("uc808"ub300 "ub178"ucd9c"ub418"uc9c0 "uc54a"ub3c4"ub85d
                      "uc8fc"uc758"ud574"uc8fc"uc138"uc694.). Required.
                    "grant_type": "str"  # "uc778"uc99d"ubc29"uc2dd (client_credentials
                      "uace0"uc815). Required.
                }

                # response body for status code(s): 200
                response == {
                    "access_token": "str",  # Optional. OAuth "ud1a0"ud070"uc774
                      "ud544"uc694"ud55c API "uacbd"uc6b0 "ubc1c"uae09"ud55c Access token:code:`<br/>`
                      ex) "eyJ0eXUxMiJ9.eyJz"u2026..................................."   *
                      "uc77c"ubc18"uac1c"uc778"uace0"uac1d/"uc77c"ubc18"ubc95"uc778"uace0"uac1d:code:`<br/>`
                      . Access token "uc720"ud6a8"uae30"uac04 1"uc77c:code:`<br/>`   ..
                      "uc77c"uc815"uc2dc"uac04(6"uc2dc"uac04) "uc774"ub0b4"uc5d0 "uc7ac"ud638"ucd9c
                      "uc2dc"uc5d0"ub294 "uc9c1"uc804 "ud1a0"ud070"uac12"uc744
                      "ub9ac"ud134:code:`<br/>`   . OAuth 2.0"uc758 Client Credentials Grant
                      "uc808"ucc28"ub97c "uc900"uc6a9  *    "uc81c"ud734"ubc95"uc778:code:`<br/>`   .
                      Access token "uc720"ud6a8"uae30"uac04 3"uac1c"uc6d4:code:`<br/>`   . Refresh
                      token "uc720"ud6a8"uae30"uac04 1"ub144:code:`<br/>`   . OAuth 2.0"uc758
                      Authorization Code Grant "uc808"ucc28"ub97c "uc900"uc6a9.
                    "access_token_token_expire": "2020-02-20 00:00:00",  # Optional. Access token
                      "ub9cc"ub8cc"uc2dc"uac04 ("ub144:"uc6d4:"uc77c "uc2dc:"ubd84:"ucd08).
                    "expires_in": 0,  # Optional. Access token "ub9cc"ub8cc"uc2dc"uac04 ("ucd08).
                    "token_type": "str"  # Optional. "uc811"uadfc"ud1a0"ud070"uc720"ud615 (Bearer
                      "uace0"uc815).
                }
        """

    @overload
    def get_access_token(
        self,
        body: Optional[IO[bytes]] = None,
        *,
        content_type: str = "application/json",
        **kwargs: Any,
    ) -> JSON:
        # pylint: disable=line-too-long
        """접근 토큰 발급.

        본인 계좌에 필요한 인증 절차로, 인증을 통해 접근 토큰을 부여받아 오픈API 활용이 가능합니다.

        [참고]
        '23.4.28 이후 지나치게 잦은 토큰 발급 요청건을 제어 하기 위해 신규 접근토큰발급 이후 일정시간 이내에 재호출 시에는 직전 토큰값을 리턴하게 되었습니다. 일정시간
        이후 접근토큰발급 API 호출 시에는 신규 토큰값을 리턴합니다.
        접근토큰발급 API 호출 및 코드 작성하실 때 해당 사항을 참고하시길 바랍니다.

        :param body: Default value is None.
        :type body: IO[bytes]
        :keyword content_type: Body Parameter content-type. Content type parameter for binary body.
         Default value is "application/json".
        :paramtype content_type: str
        :return: JSON object
        :rtype: JSON
        :raises ~azure.core.exceptions.HttpResponseError:

        Example:
            .. code-block:: python

                # response body for status code(s): 200
                response == {
                    "access_token": "str",  # Optional. OAuth "ud1a0"ud070"uc774
                      "ud544"uc694"ud55c API "uacbd"uc6b0 "ubc1c"uae09"ud55c Access token:code:`<br/>`
                      ex) "eyJ0eXUxMiJ9.eyJz"u2026..................................."   *
                      "uc77c"ubc18"uac1c"uc778"uace0"uac1d/"uc77c"ubc18"ubc95"uc778"uace0"uac1d:code:`<br/>`
                      . Access token "uc720"ud6a8"uae30"uac04 1"uc77c:code:`<br/>`   ..
                      "uc77c"uc815"uc2dc"uac04(6"uc2dc"uac04) "uc774"ub0b4"uc5d0 "uc7ac"ud638"ucd9c
                      "uc2dc"uc5d0"ub294 "uc9c1"uc804 "ud1a0"ud070"uac12"uc744
                      "ub9ac"ud134:code:`<br/>`   . OAuth 2.0"uc758 Client Credentials Grant
                      "uc808"ucc28"ub97c "uc900"uc6a9  *    "uc81c"ud734"ubc95"uc778:code:`<br/>`   .
                      Access token "uc720"ud6a8"uae30"uac04 3"uac1c"uc6d4:code:`<br/>`   . Refresh
                      token "uc720"ud6a8"uae30"uac04 1"ub144:code:`<br/>`   . OAuth 2.0"uc758
                      Authorization Code Grant "uc808"ucc28"ub97c "uc900"uc6a9.
                    "access_token_token_expire": "2020-02-20 00:00:00",  # Optional. Access token
                      "ub9cc"ub8cc"uc2dc"uac04 ("ub144:"uc6d4:"uc77c "uc2dc:"ubd84:"ucd08).
                    "expires_in": 0,  # Optional. Access token "ub9cc"ub8cc"uc2dc"uac04 ("ucd08).
                    "token_type": "str"  # Optional. "uc811"uadfc"ud1a0"ud070"uc720"ud615 (Bearer
                      "uace0"uc815).
                }
        """

    @distributed_trace
    def get_access_token(
        self, body: Optional[Union[JSON, IO[bytes]]] = None, **kwargs: Any
    ) -> JSON:
        # pylint: disable=line-too-long
        """접근 토큰 발급.

        본인 계좌에 필요한 인증 절차로, 인증을 통해 접근 토큰을 부여받아 오픈API 활용이 가능합니다.

        [참고]
        '23.4.28 이후 지나치게 잦은 토큰 발급 요청건을 제어 하기 위해 신규 접근토큰발급 이후 일정시간 이내에 재호출 시에는 직전 토큰값을 리턴하게 되었습니다. 일정시간
        이후 접근토큰발급 API 호출 시에는 신규 토큰값을 리턴합니다.
        접근토큰발급 API 호출 및 코드 작성하실 때 해당 사항을 참고하시길 바랍니다.

        :param body: Is either a JSON type or a IO[bytes] type. Default value is None.
        :type body: JSON or IO[bytes]
        :return: JSON object
        :rtype: JSON
        :raises ~azure.core.exceptions.HttpResponseError:

        Example:
            .. code-block:: python

                # JSON input template you can fill out and use as your body input.
                body = {
                    "appkey": "str",  # "ud55c"uad6d"ud22c"uc790"uc99d"uad8c
                      "ud648"ud398"uc774"uc9c0"uc5d0"uc11c "ubc1c"uae09"ubc1b"uc740 appkey
                      ("uc808"ub300 "ub178"ucd9c"ub418"uc9c0 "uc54a"ub3c4"ub85d
                      "uc8fc"uc758"ud574"uc8fc"uc138"uc694.). Required.
                    "appsecret": "str",  # "ud55c"uad6d"ud22c"uc790"uc99d"uad8c
                      "ud648"ud398"uc774"uc9c0"uc5d0"uc11c "ubc1c"uae09"ubc1b"uc740 appsecret
                      ("uc808"ub300 "ub178"ucd9c"ub418"uc9c0 "uc54a"ub3c4"ub85d
                      "uc8fc"uc758"ud574"uc8fc"uc138"uc694.). Required.
                    "grant_type": "str"  # "uc778"uc99d"ubc29"uc2dd (client_credentials
                      "uace0"uc815). Required.
                }

                # response body for status code(s): 200
                response == {
                    "access_token": "str",  # Optional. OAuth "ud1a0"ud070"uc774
                      "ud544"uc694"ud55c API "uacbd"uc6b0 "ubc1c"uae09"ud55c Access token:code:`<br/>`
                      ex) "eyJ0eXUxMiJ9.eyJz"u2026..................................."   *
                      "uc77c"ubc18"uac1c"uc778"uace0"uac1d/"uc77c"ubc18"ubc95"uc778"uace0"uac1d:code:`<br/>`
                      . Access token "uc720"ud6a8"uae30"uac04 1"uc77c:code:`<br/>`   ..
                      "uc77c"uc815"uc2dc"uac04(6"uc2dc"uac04) "uc774"ub0b4"uc5d0 "uc7ac"ud638"ucd9c
                      "uc2dc"uc5d0"ub294 "uc9c1"uc804 "ud1a0"ud070"uac12"uc744
                      "ub9ac"ud134:code:`<br/>`   . OAuth 2.0"uc758 Client Credentials Grant
                      "uc808"ucc28"ub97c "uc900"uc6a9  *    "uc81c"ud734"ubc95"uc778:code:`<br/>`   .
                      Access token "uc720"ud6a8"uae30"uac04 3"uac1c"uc6d4:code:`<br/>`   . Refresh
                      token "uc720"ud6a8"uae30"uac04 1"ub144:code:`<br/>`   . OAuth 2.0"uc758
                      Authorization Code Grant "uc808"ucc28"ub97c "uc900"uc6a9.
                    "access_token_token_expire": "2020-02-20 00:00:00",  # Optional. Access token
                      "ub9cc"ub8cc"uc2dc"uac04 ("ub144:"uc6d4:"uc77c "uc2dc:"ubd84:"ucd08).
                    "expires_in": 0,  # Optional. Access token "ub9cc"ub8cc"uc2dc"uac04 ("ucd08).
                    "token_type": "str"  # Optional. "uc811"uadfc"ud1a0"ud070"uc720"ud615 (Bearer
                      "uace0"uc815).
                }
        """
        error_map: MutableMapping[int, Type[HttpResponseError]] = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
        _params = kwargs.pop("params", {}) or {}

        content_type: Optional[str] = kwargs.pop(
            "content_type", _headers.pop("Content-Type", None)
        )
        cls: ClsType[JSON] = kwargs.pop("cls", None)

        content_type = content_type or "application/json"
        _json = None
        _content = None
        if isinstance(body, (IOBase, bytes)):
            _content = body
        else:
            if body is not None:
                _json = body
            else:
                _json = None

        _request = build_gen_open_kis_get_access_token_request(
            content_type=content_type,
            json=_json,
            content=_content,
            headers=_headers,
            params=_params,
        )
        _request.url = self._client.format_url(_request.url)

        _stream = False
        pipeline_response: PipelineResponse = (
            self._client._pipeline.run(  # pylint: disable=protected-access
                _request, stream=_stream, **kwargs
            )
        )

        response = pipeline_response.http_response

        if response.status_code not in [200]:
            if _stream:
                response.read()  # Load the body in memory and close the socket
            map_error(
                status_code=response.status_code, response=response, error_map=error_map
            )
            raise HttpResponseError(response=response)

        if response.content:
            deserialized = response.json()
        else:
            deserialized = None

        if cls:
            return cls(pipeline_response, cast(JSON, deserialized), {})  # type: ignore

        return cast(JSON, deserialized)  # type: ignore

    @overload
    def revoke_access_token(
        self,
        body: Optional[JSON] = None,
        *,
        content_type: str = "application/json",
        **kwargs: Any,
    ) -> JSON:
        # pylint: disable=line-too-long
        """접근 토큰 폐기.

        부여받은 접큰토큰을 더 이상 활용하지 않을 때 사용합니다.

        :param body: Default value is None.
        :type body: JSON
        :keyword content_type: Body Parameter content-type. Content type parameter for JSON body.
         Default value is "application/json".
        :paramtype content_type: str
        :return: JSON object
        :rtype: JSON
        :raises ~azure.core.exceptions.HttpResponseError:

        Example:
            .. code-block:: python

                # JSON input template you can fill out and use as your body input.
                body = {
                    "appkey": "str",  # "ud55c"uad6d"ud22c"uc790"uc99d"uad8c
                      "ud648"ud398"uc774"uc9c0"uc5d0"uc11c "ubc1c"uae09"ubc1b"uc740 appkey
                      ("uc808"ub300 "ub178"ucd9c"ub418"uc9c0 "uc54a"ub3c4"ub85d
                      "uc8fc"uc758"ud574"uc8fc"uc138"uc694.). Required.
                    "appsecret": "str",  # "ud55c"uad6d"ud22c"uc790"uc99d"uad8c
                      "ud648"ud398"uc774"uc9c0"uc5d0"uc11c "ubc1c"uae09"ubc1b"uc740 appsecret
                      ("uc808"ub300 "ub178"ucd9c"ub418"uc9c0 "uc54a"ub3c4"ub85d
                      "uc8fc"uc758"ud574"uc8fc"uc138"uc694.). Required.
                    "token": "str"  # "uc811"uadfc"ud1a0"ud070  OAuth "ud1a0"ud070"uc774
                      "ud544"uc694"ud55c API "uacbd"uc6b0 "ubc1c"uae09"ud55c Access token:code:`<br/>`
                      "uc77c"ubc18"uace0"uac1d(Access token "uc720"ud6a8"uae30"uac04 1"uc77c, OAuth
                      2.0"uc758 Client Credentials Grant "uc808"ucc28"ub97c "uc900"uc6a9):code:`<br/>`
                      "ubc95"uc778(Access token "uc720"ud6a8"uae30"uac04 3"uac1c"uc6d4, Refresh token
                      "uc720"ud6a8"uae30"uac04 1"ub144, OAuth 2.0"uc758 Authorization Code Grant
                      "uc808"ucc28"ub97c "uc900"uc6a9). Required.
                }

                # response body for status code(s): 200
                response == {
                    "code": "str",  # Optional. HTTP "uc751"ub2f5"ucf54"ub4dc.
                    "message": "str"  # Optional. "uc751"ub2f5"uba54"uc2dc"uc9c0.
                }
        """

    @overload
    def revoke_access_token(
        self,
        body: Optional[IO[bytes]] = None,
        *,
        content_type: str = "application/json",
        **kwargs: Any,
    ) -> JSON:
        """접근 토큰 폐기.

        부여받은 접큰토큰을 더 이상 활용하지 않을 때 사용합니다.

        :param body: Default value is None.
        :type body: IO[bytes]
        :keyword content_type: Body Parameter content-type. Content type parameter for binary body.
         Default value is "application/json".
        :paramtype content_type: str
        :return: JSON object
        :rtype: JSON
        :raises ~azure.core.exceptions.HttpResponseError:

        Example:
            .. code-block:: python

                # response body for status code(s): 200
                response == {
                    "code": "str",  # Optional. HTTP "uc751"ub2f5"ucf54"ub4dc.
                    "message": "str"  # Optional. "uc751"ub2f5"uba54"uc2dc"uc9c0.
                }
        """

    @distributed_trace
    def revoke_access_token(
        self, body: Optional[Union[JSON, IO[bytes]]] = None, **kwargs: Any
    ) -> JSON:
        # pylint: disable=line-too-long
        """접근 토큰 폐기.

        부여받은 접큰토큰을 더 이상 활용하지 않을 때 사용합니다.

        :param body: Is either a JSON type or a IO[bytes] type. Default value is None.
        :type body: JSON or IO[bytes]
        :return: JSON object
        :rtype: JSON
        :raises ~azure.core.exceptions.HttpResponseError:

        Example:
            .. code-block:: python

                # JSON input template you can fill out and use as your body input.
                body = {
                    "appkey": "str",  # "ud55c"uad6d"ud22c"uc790"uc99d"uad8c
                      "ud648"ud398"uc774"uc9c0"uc5d0"uc11c "ubc1c"uae09"ubc1b"uc740 appkey
                      ("uc808"ub300 "ub178"ucd9c"ub418"uc9c0 "uc54a"ub3c4"ub85d
                      "uc8fc"uc758"ud574"uc8fc"uc138"uc694.). Required.
                    "appsecret": "str",  # "ud55c"uad6d"ud22c"uc790"uc99d"uad8c
                      "ud648"ud398"uc774"uc9c0"uc5d0"uc11c "ubc1c"uae09"ubc1b"uc740 appsecret
                      ("uc808"ub300 "ub178"ucd9c"ub418"uc9c0 "uc54a"ub3c4"ub85d
                      "uc8fc"uc758"ud574"uc8fc"uc138"uc694.). Required.
                    "token": "str"  # "uc811"uadfc"ud1a0"ud070  OAuth "ud1a0"ud070"uc774
                      "ud544"uc694"ud55c API "uacbd"uc6b0 "ubc1c"uae09"ud55c Access token:code:`<br/>`
                      "uc77c"ubc18"uace0"uac1d(Access token "uc720"ud6a8"uae30"uac04 1"uc77c, OAuth
                      2.0"uc758 Client Credentials Grant "uc808"ucc28"ub97c "uc900"uc6a9):code:`<br/>`
                      "ubc95"uc778(Access token "uc720"ud6a8"uae30"uac04 3"uac1c"uc6d4, Refresh token
                      "uc720"ud6a8"uae30"uac04 1"ub144, OAuth 2.0"uc758 Authorization Code Grant
                      "uc808"ucc28"ub97c "uc900"uc6a9). Required.
                }

                # response body for status code(s): 200
                response == {
                    "code": "str",  # Optional. HTTP "uc751"ub2f5"ucf54"ub4dc.
                    "message": "str"  # Optional. "uc751"ub2f5"uba54"uc2dc"uc9c0.
                }
        """
        error_map: MutableMapping[int, Type[HttpResponseError]] = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
        _params = kwargs.pop("params", {}) or {}

        content_type: Optional[str] = kwargs.pop(
            "content_type", _headers.pop("Content-Type", None)
        )
        cls: ClsType[JSON] = kwargs.pop("cls", None)

        content_type = content_type or "application/json"
        _json = None
        _content = None
        if isinstance(body, (IOBase, bytes)):
            _content = body
        else:
            if body is not None:
                _json = body
            else:
                _json = None

        _request = build_gen_open_kis_revoke_access_token_request(
            content_type=content_type,
            json=_json,
            content=_content,
            headers=_headers,
            params=_params,
        )
        _request.url = self._client.format_url(_request.url)

        _stream = False
        pipeline_response: PipelineResponse = (
            self._client._pipeline.run(  # pylint: disable=protected-access
                _request, stream=_stream, **kwargs
            )
        )

        response = pipeline_response.http_response

        if response.status_code not in [200]:
            if _stream:
                response.read()  # Load the body in memory and close the socket
            map_error(
                status_code=response.status_code, response=response, error_map=error_map
            )
            raise HttpResponseError(response=response)

        if response.content:
            deserialized = response.json()
        else:
            deserialized = None

        if cls:
            return cls(pipeline_response, cast(JSON, deserialized), {})  # type: ignore

        return cast(JSON, deserialized)  # type: ignore

    @distributed_trace
    def get_hash_key(
        self,
        body: Optional[JSON] = None,
        *,
        appkey: Optional[str] = None,
        appsecret: Optional[str] = None,
        **kwargs: Any,
    ) -> JSON:
        # pylint: disable=line-too-long
        """Hashkey 생성.

        해쉬키(Hashkey)는 보안을 위한 요소로 사용자가 보낸 요청 값을 중간에 탈취하여 변조하지 못하도록 하는데 사용됩니다.:code:`<br/>`
        해쉬키를 사용하면 POST로 보내는 요청(주로 주문/정정/취소 API 해당)의 body 값을 사전에 암호화시킬 수 있습니다.:code:`<br/>`
        해쉬키는 비필수값으로 사용하지 않아도 POST API 호출은 가능합니다.

        :param body: Default value is None.
        :type body: JSON
        :keyword appkey: Default value is None.
        :paramtype appkey: str
        :keyword appsecret: Default value is None.
        :paramtype appsecret: str
        :return: JSON object
        :rtype: JSON
        :raises ~azure.core.exceptions.HttpResponseError:

        Example:
            .. code-block:: python

                # response body for status code(s): 200
                response == {
                    "BODY": {},  # Optional. "ud574"uc26c"ud0a4 "uc0dd"uc131 "uc694"uccad Body
                      "ub370"uc774"ud130.
                    "HASH": "str"  # Optional. [POST API "ub300"uc0c1] Client"uac00
                      "uc694"uccad"ud558"ub294 Request Body"ub97c hashkey api"ub85c "uc0dd"uc131"ud55c
                      Hash"uac12   * API"ubb38"uc11c > hashkey "ucc38"uc870.
                }
        """
        error_map: MutableMapping[int, Type[HttpResponseError]] = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
        _params = kwargs.pop("params", {}) or {}

        content_type: str = kwargs.pop(
            "content_type", _headers.pop("content-type", "application/json")
        )
        cls: ClsType[JSON] = kwargs.pop("cls", None)

        if body is not None:
            _json = body
        else:
            _json = None

        _request = build_gen_open_kis_get_hash_key_request(
            appkey=appkey,
            appsecret=appsecret,
            content_type=content_type,
            json=_json,
            headers=_headers,
            params=_params,
        )
        _request.url = self._client.format_url(_request.url)

        _stream = False
        pipeline_response: PipelineResponse = (
            self._client._pipeline.run(  # pylint: disable=protected-access
                _request, stream=_stream, **kwargs
            )
        )

        response = pipeline_response.http_response

        if response.status_code not in [200]:
            if _stream:
                response.read()  # Load the body in memory and close the socket
            map_error(
                status_code=response.status_code, response=response, error_map=error_map
            )
            raise HttpResponseError(response=response)

        if response.content:
            deserialized = response.json()
        else:
            deserialized = None

        if cls:
            return cls(pipeline_response, cast(JSON, deserialized), {})  # type: ignore

        return cast(JSON, deserialized)  # type: ignore

    @distributed_trace
    def get_domestic_stock_price(
        self,
        *,
        fid_input_iscd: str,
        personalseckey: Optional[str] = None,
        tr_cont: str = "",
        custtype: str = "P",
        seq_no: Optional[str] = None,
        mac_address: Optional[str] = None,
        phone_number: Optional[str] = None,
        ip_address: Optional[str] = None,
        hashkey: Optional[str] = None,
        gt_uid: Optional[str] = None,
        tr_id: str = "FHKST01010100",
        fid_cond_mrkt_div_code: str = "J",
        **kwargs: Any,
    ) -> JSON:
        # pylint: disable=line-too-long
        """국내주식 현재가 시세 조회.

        주식 현재가 시세 API입니다. 실시간 시세를 원하신다면 웹소켓 API를 활용하세요.

        ※ 종목코드 마스터파일 파이썬 정제코드는 한국투자증권 Github 참고 부탁드립니다.:code:`<br/>`
          https://github.com/koreainvestment/open-trading-api/tree/main/stocks_info.

        :keyword fid_input_iscd: FID 조건 종목코드

         종목번호 (6자리):code:`<br/>`
         ETN의 경우, Q로 시작 (EX. Q500001). Required.
        :paramtype fid_input_iscd: str
        :keyword personalseckey: 고객 식별키

         [법인 필수] 제휴사 회원 관리를 위한 고객식별키. Default value is None.
        :paramtype personalseckey: str
        :keyword tr_cont: 연속 거래 여부

         공백 : 초기 조회:code:`<br/>`
         N: 다음 데이터 조회 (output header의 tr_cont가 M일 경우). Default value is "".
        :paramtype tr_cont: str
        :keyword custtype: 고객타입

         B : 법인:code:`<br/>`
         P : 개인. Known values are: "B" and "P". Default value is "P".
        :paramtype custtype: str
        :keyword seq_no: 일련번호

         [법인 필수] 001. Default value is None.
        :paramtype seq_no: str
        :keyword mac_address: 맥주소

         법인고객 혹은 개인고객의 Mac address 값. Default value is None.
        :paramtype mac_address: str
        :keyword phone_number: 핸드폰번호

         [법인 필수] 제휴사APP을 사용하는 경우 사용자(회원) 핸드폰번호:code:`<br/>`
         ex) 01011112222 (하이픈 등 구분값 제거). Default value is None.
        :paramtype phone_number: str
        :keyword ip_address: 접속 단말 공인 IP

         [법인 필수] 사용자(회원)의 IP Address. Default value is None.
        :paramtype ip_address: str
        :keyword hashkey: 해쉬키

         [POST API 대상] Client가 요청하는 Request Body를 hashkey api로 생성한 Hash값:code:`<br/>`


         * API문서 > hashkey 참조. Default value is None.
        :paramtype hashkey: str
        :keyword gt_uid: Global UID

         [법인 필수] 거래고유번호로 사용하므로 거래별로 UNIQUE해야 함. Default value is None.
        :paramtype gt_uid: str
        :keyword tr_id: 거래ID

         [실전투자/모의투자]:code:`<br/>`
         FHKST01010100 : 주식현재가 시세. "FHKST01010100" Default value is "FHKST01010100".
        :paramtype tr_id: str
        :keyword fid_cond_mrkt_div_code: FID 조건 시장 분류 코드

         J : 주식, ETF, ETN:code:`<br/>`
         W: ELW. Known values are: "J" and "W". Default value is "J".
        :paramtype fid_cond_mrkt_div_code: str
        :return: JSON object
        :rtype: JSON
        :raises ~azure.core.exceptions.HttpResponseError:

        Example:
            .. code-block:: python

                # response body for status code(s): 200
                response == {
                    "msg1": "str",  # Optional. "uc751"ub2f5"uba54"uc2dc"uc9c0.
                    "msg_cd": "str",  # Optional. "uc751"ub2f5"ucf54"ub4dc.
                    "output": {
                        "acml_tr_pbmn": "str",  # Optional. "ub204"uc801 "uac70"ub798
                          "ub300"uae08.
                        "acml_vol": "str",  # Optional. "ub204"uc801 "uac70"ub798"ub7c9.
                        "apprch_rate": "str",  # Optional. "uc811"uadfc"ub3c4.
                        "aspr_unit": "str",  # Optional. "ud638"uac00"ub2e8"uc704.
                        "bps": "str",  # Optional. BPS.
                        "bstp_kor_isnm": "str",  # Optional. "uc5c5"uc885 "ud55c"uae00
                          "uc885"ubaa9"uba85.
                        "clpr_rang_cont_yn": "str",  # Optional. "uc885"uac00 "ubc94"uc704
                          "uc5f0"uc7a5 "uc5ec"ubd80. Known values are: "Y" and "N".
                        "cpfn": "str",  # Optional. "uc790"ubcf8"uae08.
                        "cpfn_cnnm": "str",  # Optional. "uc790"ubcf8"uae08
                          "ud1b5"ud654"uba85:code:`<br/>` "uc678"uad6d"uc8fc"uad8c"uc740
                          "uc5b5"uc73c"ub85c "ub5a8"uc5b4"uc9c0"uba70, "uadf8 "uc678"uc5d0"ub294
                          "ub9cc"uc73c"ub85c "ud45c"uc2dc"ub428.
                        "crdt_able_yn": "str",  # Optional. "uc2e0"uc6a9 "uac00"ub2a5
                          "uc5ec"ubd80. Known values are: "Y" and "N".
                        "d250_hgpr": "str",  # Optional. 250"uc77c "ucd5c"uace0"uac00.
                        "d250_hgpr_date": "str",  # Optional. 250"uc77c "ucd5c"uace0"uac00
                          "uc77c"uc790.
                        "d250_hgpr_vrss_prpr_rate": "str",  # Optional. 250"uc77c
                          "ucd5c"uace0"uac00 "ub300"ube44 "ud604"uc7ac"uac00 "ube44"uc728.
                        "d250_lwpr": "str",  # Optional. 250"uc77c "ucd5c"uc800"uac00.
                        "d250_lwpr_date": "str",  # Optional. 250"uc77c "ucd5c"uc800"uac00
                          "uc77c"uc790.
                        "d250_lwpr_vrss_prpr_rate": "str",  # Optional. 250"uc77c
                          "ucd5c"uc800"uac00 "ub300"ube44 "ud604"uc7ac"uac00 "ube44"uc728.
                        "dryy_hgpr_date": "str",  # Optional. "uc5f0"uc911 "ucd5c"uace0"uac00
                          "uc77c"uc790.
                        "dryy_hgpr_vrss_prpr_rate": "str",  # Optional. "uc5f0"uc911
                          "ucd5c"uace0"uac00 "ub300"ube44 "ud604"uc7ac"uac00 "ube44"uc728.
                        "dryy_lwpr_date": "str",  # Optional. "uc5f0"uc911 "ucd5c"uc800"uac00
                          "uc77c"uc790.
                        "dryy_lwpr_vrss_prpr_rate": "str",  # Optional. "uc5f0"uc911
                          "ucd5c"uc800"uac00 "ub300"ube44 "ud604"uc7ac"uac00 "ube44"uc728.
                        "elw_pblc_yn": "str",  # Optional. ELW "ubc1c"ud589 "uc5ec"ubd80.
                          Known values are: "Y" and "N".
                        "eps": "str",  # Optional. EPS.
                        "fcam_cnnm": "str",  # Optional. "uc561"uba74"uac00
                          "ud1b5"ud654"uba85.
                        "frgn_hldn_qty": "str",  # Optional. "uc678"uad6d"uc778 "ubcf4"uc720
                          "uc218"ub7c9.
                        "frgn_ntby_qty": "str",  # Optional. "uc678"uad6d"uc778
                          "uc21c"ub9e4"uc218 "uc218"ub7c9.
                        "grmn_rate_cls_code": "str",  # Optional. "ubcf4"uc99d"uae08
                          "ube44"uc728 "uad6c"ubd84 "ucf54"ub4dc  "ud55c"uad6d"ud22c"uc790
                          "uc99d"uac70"uae08"ube44"uc728 (marg_rate "ucc38"uace0) 40 : 20%, 30%, 40% 50
                          : 50% 60 : 60%. Known values are: "40", "50", and "60".
                        "hts_avls": "str",  # Optional. HTS "uc2dc"uac00"ucd1d"uc561.
                        "hts_deal_qty_unit_val": "str",  # Optional. HTS "ub9e4"ub9e4
                          "uc218"ub7c9 "ub2e8"uc704 "uac12.
                        "hts_frgn_ehrt": "str",  # Optional. HTS "uc678"uad6d"uc778
                          "uc18c"uc9c4"uc728.
                        "invt_caful_yn": "str",  # Optional.
                          "ud22c"uc790"uc720"uc758"uc5ec"ubd80. Known values are: "Y" and "N".
                        "iscd_stat_cls_code": "str",  # Optional.
                          "uc885"ubaa9"uc0c1"ud0dc"uad6c"ubd84"ucf54"ub4dc  00 :
                          "uadf8"uc678:code:`<br/>` 51 : "uad00"ub9ac"uc885"ubaa9:code:`<br/>` 52 :
                          "ud22c"uc790"uc704"ud5d8:code:`<br/>` 53 :
                          "ud22c"uc790"uacbd"uace0:code:`<br/>` 54 :
                          "ud22c"uc790"uc8fc"uc758:code:`<br/>` 55 :
                          "uc2e0"uc6a9"uac00"ub2a5:code:`<br/>` 57 : "uc99d"uac70"uae08
                          100%:code:`<br/>` 58 : "uac70"ub798"uc815"uc9c0:code:`<br/>` 59 :
                          "ub2e8"uae30"uacfc"uc5f4. Known values are: "00", "51", "52", "53", "54",
                          "55", "57", "58", and "59".
                        "last_ssts_cntg_qty": "str",  # Optional. "ucd5c"uc885
                          "uacf5"ub9e4"ub3c4 "uccb4"uacb0 "uc218"ub7c9.
                        "lstn_stcn": "str",  # Optional. "uc0c1"uc7a5 "uc8fc"uc218.
                        "marg_rate": "str",  # Optional. "uc99d"uac70"uae08 "ube44"uc728.
                        "mrkt_warn_cls_code": "str",  # Optional.
                          "uc2dc"uc7a5"uacbd"uace0"ucf54"ub4dc  00 : "uc5c6"uc74c 01 :
                          "ud22c"uc790"uc8fc"uc758 02 : "ud22c"uc790"uacbd"uace0 03 :
                          "ud22c"uc790"uc704"ud5d8. Known values are: "00", "01", "02", and "03".
                        "new_hgpr_lwpr_cls_code": "str",  # Optional. "uc2e0 "uace0"uac00
                          "uc800"uac00 "uad6c"ubd84 "ucf54"ub4dc:code:`<br/>` "uc870"ud68c"ud558"ub294
                          "uc885"ubaa9"uc774 "uc2e0"uace0/"uc2e0"uc800"uc5d0 "ub3c4"ub2ec"ud588"uc744
                          "uacbd"uc6b0"uc5d0"ub9cc "uc870"ud68c"ub428.
                        "oprc_rang_cont_yn": "str",  # Optional. "uc2dc"uac00 "ubc94"uc704
                          "uc5f0"uc7a5 "uc5ec"ubd80. Known values are: "Y" and "N".
                        "ovtm_vi_cls_code": "str",  # Optional.
                          "uc2dc"uac04"uc678"ub2e8"uc77c"uac00VI"uc801"uc6a9"uad6c"ubd84"ucf54"ub4dc.
                          Known values are: "Y" and "N".
                        "pbr": "str",  # Optional. PBR.
                        "per": "str",  # Optional. PER.
                        "pgtr_ntby_qty": "str",  # Optional.
                          "ud504"ub85c"uadf8"ub7a8"ub9e4"ub9e4 "uc21c"ub9e4"uc218 "uc218"ub7c9.
                        "prdy_ctrt": "str",  # Optional. "uc804"uc77c "ub300"ube44"uc728.
                        "prdy_vrss": "str",  # Optional. "uc804"uc77c "ub300"ube44.
                        "prdy_vrss_sign": "str",  # Optional. "uc804"uc77c "ub300"ube44
                          "ubd80"ud638  1 : "uc0c1"ud55c:code:`<br/>` 2 : "uc0c1"uc2b9:code:`<br/>` 3 :
                          "ubcf4"ud569:code:`<br/>` 4 : "ud558"ud55c:code:`<br/>` 5 : "ud558"ub77d.
                          Known values are: "1", "2", "3", "4", and "5".
                        "prdy_vrss_vol_rate": "str",  # Optional. "uc804"uc77c "ub300"ube44
                          "uac70"ub798"ub7c9 "ube44"uc728:code:`<br/>` "uc8fc"uc2dd"ud604"uc7ac"uac00
                          "uc77c"uc790"ubcc4 API "uc751"ub2f5"uac12 "uc0ac"uc6a9.
                        "rprs_mrkt_kor_name": "str",  # Optional. "ub300"ud45c "uc2dc"uc7a5
                          "ud55c"uae00 "uba85.
                        "rstc_wdth_prc": "str",  # Optional. "uc81c"ud55c "ud3ed
                          "uac00"uaca9.
                        "short_over_yn": "str",  # Optional.
                          "ub2e8"uae30"uacfc"uc5f4"uc5ec"ubd80. Known values are: "Y" and "N".
                        "sltr_yn": "str",  # Optional. "uc815"ub9ac"ub9e4"ub9e4"uc5ec"ubd80.
                          Known values are: "Y" and "N".
                        "ssts_yn": "str",  # Optional.
                          "uacf5"ub9e4"ub3c4"uac00"ub2a5"uc5ec"ubd80. Known values are: "Y" and "N".
                        "stac_month": "str",  # Optional. "uacb0"uc0b0 "uc6d4. Known values
                          are: "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", and
                          "12".
                        "stck_dryy_hgpr": "str",  # Optional. "uc8fc"uc2dd "uc5f0"uc911
                          "ucd5c"uace0"uac00.
                        "stck_dryy_lwpr": "str",  # Optional. "uc8fc"uc2dd "uc5f0"uc911
                          "ucd5c"uc800"uac00.
                        "stck_fcam": "str",  # Optional. "uc8fc"uc2dd "uc561"uba74"uac00.
                        "stck_hgpr": "str",  # Optional. "uc8fc"uc2dd "ucd5c"uace0"uac00.
                        "stck_llam": "str",  # Optional. "uc8fc"uc2dd "ud558"ud55c"uac00.
                        "stck_lwpr": "str",  # Optional. "uc8fc"uc2dd "ucd5c"uc800"uac00.
                        "stck_mxpr": "str",  # Optional. "uc8fc"uc2dd "uc0c1"ud55c"uac00.
                        "stck_oprc": "str",  # Optional. "uc8fc"uc2dd "uc2dc"uac00.
                        "stck_prpr": "str",  # Optional. "uc8fc"uc2dd "ud604"uc7ac"uac00.
                        "stck_sdpr": "str",  # Optional. "uc8fc"uc2dd "uae30"uc900"uac00.
                        "stck_shrn_iscd": "str",  # Optional. "uc8fc"uc2dd "ub2e8"ucd95
                          "uc885"ubaa9"ucf54"ub4dc.
                        "stck_sspr": "str",  # Optional. "uc8fc"uc2dd "ub300"uc6a9"uac00.
                        "temp_stop_yn": "str",  # Optional. "uc784"uc2dc "uc815"uc9c0
                          "uc5ec"ubd80. Known values are: "Y" and "N".
                        "vi_cls_code": "str",  # Optional.
                          VI"uc801"uc6a9"uad6c"ubd84"ucf54"ub4dc. Known values are: "Y" and "N".
                        "vol_tnrt": "str",  # Optional. "uac70"ub798"ub7c9
                          "ud68c"uc804"uc728.
                        "w52_hgpr": "str",  # Optional. 52"uc8fc"uc77c "ucd5c"uace0"uac00.
                        "w52_hgpr_date": "str",  # Optional. 52"uc8fc"uc77c
                          "ucd5c"uace0"uac00 "uc77c"uc790.
                        "w52_hgpr_vrss_prpr_ctrt": "str",  # Optional. 52"uc8fc"uc77c
                          "ucd5c"uace0"uac00 "ub300"ube44 "ud604"uc7ac"uac00 "ub300"ube44.
                        "w52_lwpr": "str",  # Optional. 52"uc8fc"uc77c "ucd5c"uc800"uac00.
                        "w52_lwpr_date": "str",  # Optional. 52"uc8fc"uc77c
                          "ucd5c"uc800"uac00 "uc77c"uc790.
                        "w52_lwpr_vrss_prpr_ctrt": "str",  # Optional. 52"uc8fc"uc77c
                          "ucd5c"uc800"uac00 "ub300"ube44 "ud604"uc7ac"uac00 "ub300"ube44.
                        "wghn_avrg_stck_prc": "str",  # Optional. "uac00"uc911 "ud3c9"uade0
                          "uc8fc"uc2dd "uac00"uaca9.
                        "whol_loan_rmnd_rate": "str"  # Optional. "uc804"uccb4 "uc735"uc790
                          "uc794"uace0 "ube44"uc728.
                    },
                    "rt_cd": "str"  # Optional. "uc131"uacf5 "uc2e4"ud328 "uc5ec"ubd80  0:
                      "uc131"uacf5:code:`<br/>` 0 "uc774"uc678"uc758 "uac12: "uc2e4"ud328.
                }
        """
[...]
